<load target="../css/owl.carousel.css" />
<load target="../css/owl.theme.css" />
<load target="../js/owl.carousel.js" type="body" />

<script type="text/javascript">
	jQuery(function($){
		 $("#owl-demo").owlCarousel({
	  navigation : false,
        autoPlay: 6000,
        items : 6, //10 items above 1000px browser width
      itemsDesktop : [1000,5], //5 items between 1000px and 901px
      itemsDesktopSmall : [800,4], // 3 items betweem 900px and 601px
      itemsTablet: [600,3], //2 items between 600 and 0;
      itemsMobile : [400,2] 
      });
	 });
</script>
<style type="text/css">
    #owl-demo .item{
    padding:5px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;background:#fff;border:1px solid #ddd;
        margin: 3px 15px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
</style>

<div class="wrap_widget wrap_widget2">
	<div class="xe_width">
		<div id="demo">
			<div class="container">
			  <div class="row">
				<div class="span12">
				  <div id="owl-demo" class="owl-carousel">
					<div class="item" cond="$layout_info->bottom_img1"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url1}"><img src="{$layout_info->bottom_img1}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img2"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url2}"><img src="{$layout_info->bottom_img2}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img3"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url3}"><img src="{$layout_info->bottom_img3}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img4"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url4}"><img src="{$layout_info->bottom_img4}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img5"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url5}"><img src="{$layout_info->bottom_img5}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img6"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url6}"><img src="{$layout_info->bottom_img6}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img7"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url7}"><img src="{$layout_info->bottom_img7}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img8"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url8}"><img src="{$layout_info->bottom_img8}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img9"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url9}"><img src="{$layout_info->bottom_img9}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img10"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url10}"><img src="{$layout_info->bottom_img10}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img11"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url11}"><img src="{$layout_info->bottom_img11}" alt="배너" /></a></div>
					<div class="item" cond="$layout_info->bottom_img12"><a target="_blank"|cond="$layout_info->bottom_window" href="{$layout_info->bottom_url12}"><img src="{$layout_info->bottom_img12}" alt="배너" /></a></div>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>
